<div class="well">
<li>
  <h3>{{legislator.title}} {{legislator.first_name}} {{legislator.last_name}}</h3>
  <h5>Party: {{party-name legislator}}</h5>
  <p>Phone: {{legislator.phone}} </p>
  <p>Contact Form: <a href={{legislator.contact_form}}>Link</a> </p>
</li>
</div>
