{{#each model.committees as |committee|}}
  <h2>Details for {{committee.name}}</h2>
  <h4>Chamber: {{committee.chamber}}</h4>
  <p>Committee ID number: {{committee.committee_id}}</p>
{{/each}}
<h2>Subcommittees</h2>
{{#if model.subcommittees}}
  {{#each model.subcommittees as |subcommittee|}}
    <ul>
      {{subcommittee-tile subcommittee=subcommittee}}
    </ul>
  {{/each}}
{{else}}
  <p>no subcommittees</p>
{{/if}}
